<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/mvp.css">-->
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main-navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          {% for page in site.html_pages %}
          <a class="navbar-item" href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endfor %}
          <div class="navbar-item has-dropdown is-hoverable">
            Posts
            <div class="navbar-dropdown">
              {% for post in site.posts %}
              <div class="navbar-item">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a> ({{ post.date | date: "%Y-%m-%d" }})
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer><a href="mailto:chucameron@gmail.com">Cameron Chu</a></footer>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const burger = document.querySelector('.navbar-burger');
        const menu = document.getElementById(burger.dataset.target);
        burger.addEventListener('click', () => {
          burger.classList.toggle('is-active');
          menu.classList.toggle('is-active');
        });
      });
    </script>
  </body>
</html>
