<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <header>
      <h1>The Lonely Centre</title>
      <nav>
        <ul>
          {% for page in site.html_pages %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endfor %}
          <li>
            <details>
              <summary>Posts</summary>
              <ul>
                {% for post in site.posts %}
                <li><a href="{{ post.url | relative_url }}">{{ post.title }} <small>({{ post.date | date: "%Y-%m-%d" }})</small></a></li>
                {% endfor %}
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer><a href="mailto:chucameron@gmail.com">Cameron Chu</a></footer>
  </body>
</html>
